*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --amarillo-fondo: #EAC926;
    --azul-oscuro: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde-fuerte: #39b54a;
}
/* ------------- HEADER */
header{
    background-color: #EAC926;
    padding-bottom: 25px;
}
.LogoML{
    width: 48%;
    margin-left: 1rem;
}
.buscador{
    margin-top: 3px;
    margin-left: 10px;
    width: 100%;
    height: 1.5rem;
    border: 0;
}
.formBusqueda{
    display: inline;
}
.Lupa{
    display: inline-block;
    width: 17px;
    height: 17px;
    align-self: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}
.buscadorConLupa{
    background-color: white;
    width: 45%;
    height: 2rem;
    display: inline-flex;
    flex-direction: row;
    border-radius: 5px;
}
.cuotas{
    display:inline-block;
    margin-top: 2rem;
}
.manoDinero-Compra-en-Cuotas{
    
    text-align: center;
}
.container-listas{
    display: flex;
    justify-content: space-around;
}
.listas li a{
    text-decoration: none;
    color: black;
    margin-right: 1rem;
}
.listas{
    list-style: none;
    display: flex; 
    flex-wrap: wrap;
}
.burger-menu{
    text-align: center;
}
.burger-menu i{
    background-color: #1259c3;;
    color: white;
    padding: 10px;
    font-size: 26px;
    border-radius: 5px;
    cursor: pointer;
}
/* ---------------- MAIN */
main{
    background-color:var(--gris-claro);
    padding-bottom: 1rem;
}
.imagenBanner img{
    width: 100%;
}
.subtitulos{
    margin-left: 1rem;
    color: var(--gris-oscuro);
    font-size:larger;
    font-style:inherit;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* ---------- SECCIONES */


.tarjeta-producto{
    background-color: white;
    width: 17rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.descripcion{
    border-top: var(--gris-claro) solid 1px;
    padding-top: 15px;

}
.container-precioYdesc{
    display: flex;
    margin-left: 1rem;
}

.precio{
    flex-grow: 3;
    font-size:large;
}
.imagenes-productos{
    width: 100%;
    height: 67%;
}
.descuento{
    color: var(--verde-fuerte);
    flex-grow: 7;
    font-size:medium;
    align-self: flex-end;
}
.camionLogo{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border: var(--verde-fuerte) solid 1px;
    width: 30px;
    height: 30px;
    border-radius:50%;
    background-color: var(--gris-claro);
    position: relative;
    right: -217px;
    top: 21px;
}
.camionLogo i{
    color: var(--verde-fuerte);
}
.camionLogo:hover{
    transform: rotateZ(270deg);
}
.nombreProducto{
    font-size:medium;
    font-style:inherit;
    font-weight:bold;
    font-weight: lighter;
    margin: 0;
    padding-left: 1rem;
    color: var(--gris-oscuro);
}

/* ------------FOOTER */

footer{
    background-color: white;
    padding-bottom: 1px ;
}
.container-footer{
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px ;
}
.tarjet-footer{
    text-align: center;
}
.iconos-footer{
    font-size: 30px;
    color: #1259c3;
}
.copyright{
    font-size: 10px;
    text-align: left;
}


/* ----------------- CELULARES */

@media(max-width: 361px){
    .container-nombreProd{
        opacity: 0;
    }
    .listas{
        display: none;
    }
}


/* ----------------------- TABLETS */

@media(min-width: 361px){
    .tarjeta-producto:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    /* .container-nombreProd{
        opacity: 0;
    }
    .container-nombreProd:hover{
        opacity: 1;
    } */
    .burger-menu{
        display: none;
    }
}


/* ----------------------- COMPUTADORAS */

@media(min-width: 769px){
    .tarjeta-producto:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
    /* .container-nombreProd{
        opacity: 0;
    }
    .container-nombreProd:hover{
        opacity: 1;
    } */
    .container-nombreProd{
        display: none;
    }
    .tarjeta-producto:hover .container-nombreProd{
        display: block;
    }
    .container-footer{
        display: flex;
    }
    .iconos-footer:hover{
        color: var(--verde-fuerte);
    }
}